<div *ngIf="showForm" class="p-3">
  <h2 class="text-center">Cox Survey</h2>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">

  <div class="form-group">
    <label for="name"><strong>Name</strong></label>
    <input type="text" class="form-control " placeholder="Enter name" ngModel id="name" name="name">
  </div>

  <div class="form-group">
    <label for="name"><strong>Project</strong></label>
    <input type="text" class="form-control " placeholder="Enter project" ngModel id="project" name="project">
  </div>


  <!-- <input type="text" name="name" ngModel/> -->
  <!-- <input type="text" name="project" ngModel /> -->

  <div *ngFor="let type of types; let typeIn = index">
    <h2>{{type}}</h2>
    <table class="table">
      <tr>
        <th>Q#</th>
        <th>Question</th>
        <th>Level</th>
        <th>Comments</th>
        <th>Current</th>
        <th>Expected</th>
      </tr>
      <tr *ngFor="let question of questions[type];  let in = index">
        <td>{{question.id}}
        </td>
        <td>{{question.question}}</td>
        <td>
          <select ngModel name="level-{{typeIn}}-{{in}}">
            <option value="1">Basic</option>
            <option value="2">Beginner</option>
            <option value="3">Intermediate</option>
            <option value="4">Advanced</option>
            <option value="5">Expert</option>
          </select>
        </td>
        <td>
          <input type="text" ngModel name="comments-{{typeIn}}-{{in}}" />
        </td>
        <td>
          <select ngModel name="current-{{typeIn}}-{{in}}">
            <option value="true">Y</option>
            <option value="false">N</option>
          </select>
        </td>
        <td>
          <select ngModel name="expected-{{typeIn}}-{{in}}">
            <option value="true">Y</option>
            <option value="false">N</option>
          </select>
        </td>
      </tr>
    </table>
  </div>
  <div class="mx-auto" style="width: 50px;">
    <input type="submit" value="Submit" class="btn btn-primary btn-lg" />
  </div>
</form>
</div>


<div style="display: block" *ngIf="!showForm">
  <canvas baseChart
          [datasets]="radarChartData"
          [labels]="radarChartLabels"
          [chartType]="radarChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"
          [options]="options"></canvas>
</div>
