<div *ngIf="showForm" class="p-3">
  <h2 class="text-center">Cap Survey</h2>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">

  <div class="form-group">
    <label for="name"><strong>Name</strong></label>
    <input type="text" class="form-control " placeholder="Enter name" ngModel id="name" name="name">
  </div>

  <div class="form-group">
    <label for="name"><strong>Project Name</strong></label>
    <input type="text" class="form-control " placeholder="Enter project Name" ngModel id="project" name="project">
  </div>

  <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
  <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
  </div> -->

  <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item"  *ngFor="let type of types; let typeIn = index" [ngClass]="{'highlight_tab':typeIn==selectedTabIndex}">
      <a class="nav-link active" id="home-{{type}}" data-toggle="tab"
         role="tab" [attr.aria-controls]="type" aria-selected="true"
        >{{type}}
      </a>
    </li>
  </ul>

  <!-- <input type="text" name="name" ngModel/> -->
  <!-- <input type="text" name="project" ngModel /> -->

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade" [ngClass]="{'show':typeIn==selectedTabIndex,
      'active':typeIn==selectedTabIndex}" id="{{type}}" role="tabpanel" attr.aria-labelledby="{{type}}-tab"
      *ngFor="let type of types; let typeIn = index" ngModelGroup="groupInput{{type}}" #groupInput="ngModelGroup">
      <h2>{{type}}</h2>
      <table class="table">
        <tr>
          <th>Q#</th>
          <th>Question</th>
          <th>Base</th>
          <th>Beginner</th>
          <th>Intermediate</th>
          <th>Advanced</th>
          <th>Expert</th>
          <th>Comments</th>
          <th>Current</th>
          <th>Expected</th>
        </tr>
        <tr *ngFor="let question of questions[type];  let in = index">
          <td>{{question.id}}
          </td>
          <td>{{question.question}}</td>
          <td><div [ngClass]="{'mx-auto':true, 'bg-warning':question.expected_level==1}" style="width:12px;"><input ngModel type="radio" value="1"  name="level-{{typeIn}}-{{in}}" required/></div></td>
          <td><div class="mx-auto" [ngClass]="{'bg-warning':question.expected_level==2}" style="width:12px;"><input ngModel type="radio" value="2"  name="level-{{typeIn}}-{{in}}" required/></div></td>
          <td><div class="mx-auto"  [ngClass]="{'bg-warning':question.expected_level==3}"style="width:12px;"><input ngModel type="radio" value="3"  name="level-{{typeIn}}-{{in}}" required/></div></td>
          <td><div class="mx-auto" [ngClass]="{'bg-warning':question.expected_level==4}" style="width:12px;"><input ngModel type="radio" value="4"  name="level-{{typeIn}}-{{in}}" required/></div></td>
          <td><div [ngClass]="{'mx-auto':true, 'bg-warning':question.expected_level==5}" style="width:12px;"><input ngModel type="radio" value="5"  name="level-{{typeIn}}-{{in}}" required/></div></td>
          <td>
            <input type="text" ngModel name="comments-{{typeIn}}-{{in}}" />
          </td>
          <td>
            <div class="mx-auto" style="width:30px;">
              <select ngModel name="current-{{typeIn}}-{{in}}" required>
                <option value="true">Y</option>
                <option value="false">N</option>
              </select>
            </div>
          </td>
          <td>
            <div *ngIf="question.expected" class="mx-auto" style="width:5px;">Y</div>
            <div *ngIf="!question.expected" class="mx-auto" style="width:5px;">N</div>
          </td>
        </tr>
      </table>
      <div class="mx-auto" style="width: 300px; margin-top:20px;">
        <input type="button" (click)="previous()" value="Previous" class="btn btn-primary btn-lg" *ngIf="selectedTabIndex > 0"/>
        <input type="button" (click)="next()" value="Next" class="btn btn-primary btn-lg" [disabled]="!groupInput.valid" *ngIf="selectedTabIndex < 5"/>
        <input type="submit" value="Submit" class="btn btn-primary btn-lg" *ngIf="selectedTabIndex === 5" [disabled]="!groupInput.valid"/>
      </div>
    </div>
  </div>


  <p style="color:red">* Please note that Level and Current are Required fields.</p>
</form>
</div>


<div style="display: block" *ngIf="!showForm">
  <table class="table">
    <tr>
      <th>Phase</th>
      <th>Current Level</th>
      <th>Expected Level</th>
    </tr>
    <tr *ngFor="let type of types; let typeIn = index">
      <td>{{type}}</td>
      <td>{{radarChartData[0].data[typeIn]}}</td>
      <td>{{radarChartData[1].data[typeIn]}}</td>
    </tr>
  </table>
  <hr style="margin-top:20px;"/>
  <canvas baseChart
          [datasets]="radarChartData"
          [labels]="radarChartLabels"
          [chartType]="radarChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"
          [options]="options"></canvas>
</div>

<ng-spinner [display]="showSpinner"></ng-spinner>
